*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* NAV */

nav {
  position: fixed;
  font-size: 1.8em;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: 0.3s;
  z-index: 100;
}

.nav__logo {
  color: var(--light-white);
  transition: 0.3s;
  position: absolute;
  left: 50px;
}

.nav__logo:hover {
  color: var(--main-color);
}

.nav__items {
  display: flex;
  position: absolute;
  right: 50px;
}

.nav__item {
  padding: 0.8em;
  color: var(--light-white);
  transition: .3s;
}

.nav__item:hover {
  color: var(--main-color);
}
