:root {
  /* COLORS */
  --bg-color: #030204;
  --pure-white: #fff;
  --light-white: #eee;
  --dark: #1f1f1f;
  --pure-dark: #000;
  --main-color: #60cfff;

  /* ------------- */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";